# video files #
###############
*.mp4
tests/fixtures/files/cam_db
*.jpg

*.swp
nohup.out

# playlist #
############
*.m3u8

# database #
############
*.sqlite

# folders #
###########
./cameras/*
./cameras

*.swp
.DS_Store
*.js~
*.xml~
app/db/*
*.cpp~
*.o
*.h~
*.c~
*.sample~
*.sh~
Makefile~
Lifeline-4.0/VMS/Makefile~
Lifeline-4.1/VMS/Makefile~
Lifeline-4.0/CameraManager/targets
Lifeline-4.0/CameraManager/i686-vmware
Lifeline-4.0/VMS/i686-vmware
Lifeline-4.0/CameraManager/arm-ix2-ng
Lifeline-4.0/VMS/arm-ix2-ng
Lifeline-4.0/CameraManager/arm-hm3
Lifeline-4.0/VMS/arm-hm3
Lifeline-4.0/CameraManager/h4c
Lifeline-4.0/VMS/h4c
Lifeline-4.0/CameraManager/x86_64-px
Lifeline-4.0/VMS/x86_64-px
Lifeline-4.0/CameraManager/b2a
Lifeline-4.0/VMS/b2a
Lifeline-4.0/CameraManager/x86_64-ix
Lifeline-4.0/VMS/x86_64-ix
Lifeline-4.0/CameraManager/px4-300r
Lifeline-4.0/VMS/px4-300r
Lifeline-4.0/CameraManager/px12-450r
Lifeline-4.0/VMS/px12-450r
Lifeline-4.0/CameraManager/r12b
Lifeline-4.0/VMS/r12b
Lifeline-4.0/VMS/*.lst
Lifeline-4.1/CameraManager/targets
Lifeline-4.1/CameraManager/i686-vmware
Lifeline-4.1/VMS/i686-vmware
Lifeline-4.1/CameraManager/arm-ix2-ng
Lifeline-4.1/VMS/arm-ix2-ng
Lifeline-4.1/CameraManager/arm-hm3
Lifeline-4.1/VMS/arm-hm3
Lifeline-4.1/CameraManager/h4c
Lifeline-4.1/VMS/h4c
Lifeline-4.1/CameraManager/x86_64-px
Lifeline-4.1/VMS/x86_64-px
Lifeline-4.1/CameraManager/b2a
Lifeline-4.1/VMS/b2a
Lifeline-4.1/CameraManager/x86_64-ix
Lifeline-4.1/VMS/x86_64-ix
Lifeline-4.1/CameraManager/px4-300r
Lifeline-4.1/VMS/px4-300r
Lifeline-4.1/CameraManager/px12-450r
Lifeline-4.1/VMS/px12-450r
Lifeline-4.1/CameraManager/r12b
Lifeline-4.1/VMS/r12b
Lifeline-4.1/VMS/*.lst
