<OBJECT CLASSID="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B"
    CODEBASE="http://www.apple.com/qtactivex/qtplugin.cab"
    HEIGHT=480
    WIDTH=640
    CONTROLLER=True
>
 
<PARAM NAME="src" VALUE="http://localhost:8080/cameras/eFaFwiXToehh3WVs/video.hls?begin=0&end=999999999999999" >
 
<EMBED
SRC="http://localhost:8080/cameras/eFaFwiXToehh3WVs/video.hls?begin=0&end=999999999999999"
TYPE="video/quicktime"
PLUGINSPAGE="http://www.apple.com/quicktime/download/"
HEIGHT=480
WIDTH=640
CONTROLLER=True
/>
 
</OBJECT>
