.shadow {
	-moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
	box-shadow:         inset 0 0 10px rgba(0,0,0,0.5);
}

.video-box {
	background:rgb(240,240,240); 
	margin: 10px;
	position: relative;
	float: left;
	padding: 10px;

}

.video-box-message {
	position: relative;
	top: 40%;
	margin: 10px;
}

