.shadow {
	-moz-box-shadow:     inset 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:  inset 0 0 10px rgba(0,0,0,0.5);
	box-shadow:          inset 0 0 10px rgba(0,0,0,0.5);
}

.video-box {
	background:  rgb(240,240,240);
	margin:      10px;
	position:    relative;
	float:       left;
	padding:     10px;

}

object {
	top: 0px;
	left: 0px;
	position: absolute;
}

.video-box-message {
	position:  relative;
	top:       40%;
	margin:    10px;
}


#toggle-motion {
	position: absolute;
	left: 102%;
	top: 9px;
	background: white;
	display: none;
}

#time-map {
	margin:      20px;
	width:       640px;
	position:    relative;
	margin-top:  30px;
}


#video {
	float:  bottom;
}


#native-player {
}


#timeline {
	width:   100%;
	height:  30px;
}

.player-layer {
	display: none;
}




