.popover-camera-item {
	margin-bottom: 5px;
}


#time-box {
	margin-left:  20px;
	width:        640px;
}


#preview-marker {
	position:    absolute;
	z-index:     1000;
	width:       20px;
	height:      10px;
	background:  rgba(4, 152, 242, 0.6);
	top:         36px;
}

.white-bg {
	background:  white;
}


#preview-marker:hover {
	background:  rgba(4, 152, 242, 0.8);
}

#curr-time {
	margin:          10px;
	padding:         10px;
	padding-top:     15px;
	padding-bottom:  0px;
	margin-bottom:   -20px;
	color:           #646464;
}

.prev-segment {
	background:   rgb(66, 139, 202); /* background:  red; */
	border-left:  1px solid gray;
	height:       10px;
	position:     absolute;
}


.mini-prev {
	width:        2.7%;
	/* position:  absolute; */
	z-index:      1000;
	background:   red;
}

.mini-prev:hover {
}

#ghost-cursor {
	height:      30px;
	width:       2px;
	background:  red;
	position:    absolute;
	display:     none;
}

#ghost-button {
	position:  absolute;
	right:     -33px;
	cursor:    pointer;
	opacity:   0.8;
	display:   none;
}

#ghost-button:hover {
	background: rgba(66, 139, 202, 0.5);
}


.shadow {
	-moz-box-shadow:     inset 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:  inset 0 0 10px rgba(0,0,0,0.5);
	box-shadow:          inset 0 0 10px rgba(0,0,0,0.5);
}

.video-box {
	background:  rgb(240,240,240);
	margin:      10px;
	position:    relative;
	float:       left;
	padding:     10px;

}

object {
	top: 0px;
	left: 0px;
	position: absolute;
}

.video-box-message {
	position:  relative;
	top:       40%;
	margin:    10px;
}


#video-controls {
	position: absolute;
	left: 540.5px;
	margin-bottom: 2px;

	display: none;
}


#begin_date {
	height: 23px;
}


#stream-selector {
	height: 25px;
}




.video-control-button {
	background:   white;

	height:       18px;
	width:        30px;
	font-size:    9pt;
	padding-top:  0px;

	margin-left:  2px;
	margin-top:   2px;
	position:     relative;
	float:        left;

	font-size:    8pt;
}

#toggle-play {
}

#get-livestream {
	position: absolute;
	left: 103%;
	top: 9px;
	background: white;
	font-size: 8pt;
}

#toggle-motion {
	background: #fff;
	/* position: absolute; */
	/* left: 103%; */
	/* top: 9px; */
	/* background: white; */
	display: none;
	/* font-size: 8pt; */
}

.popover {
	min-width:  260px;
}


#time-map {
	margin:      20px;
	width:       640px;
	position:    relative;
	margin-top:  30px;
}


#video {
	float:  bottom;
}


#native-player {
}


#timeline {
	width:   100%;
	height:  30px;
}

.player-layer {
	display: none;
}




