body {
	margin: 30px;
}

.timeline-start-time {
	position: absolute;
	top: 28px;
	left: -10px;
	color: #8F8F8F;
}

.timeline-end-time {
	position: absolute;
	top: 28px;
	right: -20px;
	color: #8F8F8F;
}


.thumb-container {
	position: absolute;
	top: 0px;
}

.timeline-container {
	position: absolute;
	left: 180px;
	top: 80px;
}

.thumb-container {
	width: 150px;
	height: 110px;
	position: absolute;
	left: 10px;
	background: #eee;
}

.camera-item {
	position: relative;
	margin-top: 40px;
	height: 130px;
	padding: 5px;
}

.camera-item-name {
	position: absolute;
	left: 180px;
	top: 30px;
	font-size:13pt;
}

.camera-item-rtsp {
	position: absolute;
	left: 180px;
	top: 55px;
}

.camera-item-menu {
	position: relative;	
	left: 180px;
	top: 0px;
}

.camera-item-switch {
	position: absolute;
	top: 0px;
	left: 735px;
}
.camera-motion-switch {
	padding-bottom:40px;
	margin-left:18px;
}



input.switch {
    display: none;
}

input.switch:empty
{
	margin-left: -999px;
}

input.switch:empty ~ label
{
	position: relative;
	float: left;
	line-height: 1.6em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.switch:empty ~ label:before, 
input.switch:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: #c33;
	border-radius: 0.3em;
	box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
	-webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

input.switch:empty ~ label:after
{
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 0.15em;
	box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked ~ label:before
{
	background-color: #393;
}

input.switch:checked ~ label:after
{
	margin-left: 2.1em;
}

#camera-schedule-dialog .modal-dialog {
	width: 850px;
}

#camera-schedule-dialog table th,#camera-schedule-dialog table td{
	text-align: center;
}

.check-stream {
	float: left;
}

.check-stream-status {
	float: left;
	margin: 5px;
	color: #555;
}

.stream-error {
	color: #a00;
}

.stream-ok {
	color: #0a0;
}
