#main {
}

#toolbar {
	position:      absolute;
	right:         0px;
	top:           20px;
	margin-right:  20px;
	font-size:     18pt;
}

#toolbar:hover {
}

.thumb {
	float:       left;
	margin:      1px;
	width:       160px;
	height:      120px;
	background:  rgba(150,150,150,0.5);
}

#thumbTime{
	font-size:  12pt;
	color:      rgb(80,80,80);
	display:    inline-block;
	width:      100%;
}

.thumb-not-available {
	color:       rgb(80,80,80);
	margin-top:  60px;
}

.thumbPopover {
	position:    absolute;
	width:       auto;
	max-width:   335px;
	height:      auto;
	background:  rgba(255,255,255,0.8);
	z-index:     15000;
	display:     inline-block;
	padding:     4px;
}

.subtimeline-segment {
	height:          100%;
	position:        absolute;
	top:             0px;
	background:      rgba(100,100,200, 1.0);
	pointer-events:  none;
}

.subtimeline {
	width:       100%;
	height:      100%;
}

.btn-highlight {
	cursor:  pointer;
}

.btn-highlight:hover {
	color:  #428bca;
}

.fadeIn-enter {
	opacity:     0.01;
	transition:  opacity .5s ease-in;
}

.fadeIn-enter.fadeIn-enter-active {
	opacity:     1;
}

#toggle-date-picker {
	margin-left:  10px;
	font-size:    18pt;
}

.white-bg {
	background:  white;
}

.onTop {
	z-index:     10000;
	position:    absolute;
	background:  rgba(255, 255, 255, 0.8);
}

.noselect {
	-webkit-touch-callout:  none;
	-webkit-user-select:    none;
	-khtml-user-select:     none;
	-moz-user-select:       none;
	-ms-user-select:        none;
	user-select:            none;
}

.camerasListBox {
	padding:             8px;
	position:            fixed;
	right:               0px;
	top:                 64px;
	height:              500px;
	width:               280px;
	background:          rgba(255,255,255,0.8);
	-webkit-box-shadow:  2px 17px 42px 8px rgba(100,100,100,0.2);
	-moz-box-shadow:     2px 17px 42px 8px rgba(100,100,100,0.2);
	box-shadow:          2px 17px 42px 8px rgba(100,100,100,0.2);
	/* display:          none; */
	z-index:             10000;
}

.header {

}

.cameraGrid {
	position:    absolute;
	top:         150px;
	left:        0;
	width:       100%;
	height:      100%;
}

.camera-item {
	padding: 5px;
	margin: 5px;
}


.status-overlay {
	position:    absolute;
	top:         0px;
	left:        0px;
	width:       100%;
	height:      100%;
	background:  rgba(0,0,200, 0.5);
	z-index:     1000;
}


.shadow {
	-webkit-box-shadow:  2px 2px 4px 1px rgba(100,100,100,0.5);
	-moz-box-shadow:     2px 2px 4px 1px rgba(100,100,100,0.5);
	box-shadow:          2px 2px 4px 1px rgba(100,100,100,0.5);
}

.camera-item-available:hover {
	background:          #428bca;
	color:               rgba(255,255,255, 0.8);
	cursor:              grab;
	cursor:              -webkit-grab;
	-webkit-box-shadow:  2px 2px 4px 1px rgba(100,100,100,0.2);
	-moz-box-shadow:     2px 2px 4px 1px rgba(100,100,100,0.2);
	box-shadow:          2px 2px 4px 1px rgba(100,100,100,0.2);
}

.camera-item-available {
	opacity: 0.9;
}

.camera-item-disabled {
	opacity: 0.5;
}


.window-title {
	display:      inline;
	margin-left:  3px;
}

.close-window:hover {
	color:         	white;
}


.close-window {
	color:          #428bca;
	/* background:  rgb(200,50,50); */
	width:          auto;
	display:        inline;
	cursor:         pointer;
}

.player-container {
	position:  absolute;
	top:       0px;
	left:      0px;
	width:     100%;
	height:    100%;
}

.camera-container-menu {
	position:    absolute;
	top:         -20px;
	z-index:     100;
	background:  rgba(0,0,0,0.7);
	width:       100%;
	height:      20px;
	color:       rgba(255,255,255,0.7);
}

.camera-container {
	position:       relative;
	margin-top:     10px;
	width:          480px;
	height:         360px;
	background:     rgba(200,200,200, 0.8);
	float:          left;
	margin:         5px;
	margin-bottom:  20px;
}

#timeline-component {
	position:    absolute;
	width:       100%;
	height:      20px;
	background:  rgba(100,100,200, 0.1);
}

#timeline-container {
	position:     relative;
	margin-top:   30px;
	width:        90%;
	margin-left:  5%;
}

.timeline-cursor {
	width:       5px;
	height:      25px;
	position:    absolute;
	background:  rgb(0,0,0);
	left:        0px;
	top:         -2.5px;
}

