<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/jquery-ui.css">

        <link rel="stylesheet" href="/css/cam.css">

        <script src = "/js/jquery.min.js"></script>        
        <script src = "/js/jquery-ui.min.js"></script>
        <script src = "/js/cam.js"></script>

        <script src="/js/timepicker.js"></script>
        <script src="/js/moment.min.js"></script>

        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/d3.v3.min.js"></script>
        <script src="/js/d3-timeline.js"></script>    

		<script type="text/javascript" src="/js/swfobject.js"></script>

        <script>
            var camId = "<%= _id %>";
			var hlsEnabled = canPlayHLS();
        </script>

        <style>
            .shadow {
                -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.5);
                -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
                box-shadow:         inset 0 0 10px rgba(0,0,0,0.5);
            }

            .video-box {

            }

            .video-box-message {
                position: relative;
                top: 40%;
                margin: 10px;
            }
            
        </style>
    </head>


    <body style = "margin: 10px">
        <h2 class = 'text-muted'> <a href ="/cameras">cameras</a> | <%= name %> </h2> 
        <hr>
		
		<div id = 'stream-selector-container' style = 'width: 300px; height: 70px;'>
			<label for="stream-selector">streams</label>
			<select id = 'stream-selector' class="form-control col-xs-4 input-sm">
			</select>
		</div>

        <div id = "search-bar" class="form-inline">
            <input id="begin_date" type="text" placeholder="start time" ></input>
            <input id="end_date" placeholder="end time" ></input>
            <button id = "search" class = 'btn btn-xs btn-info'>watch video</button>

            <button id = "get-snapshot" class = 'btn btn-xs btn-default'>get a snapshot</button>
            <button id = "get-livestream" class = 'btn btn-xs btn-default'>livestream</button>

			<button id = "download" class = 'btn btn-xs btn-default'>download video</button>

        </div>

        <div id = "video" style = "width:640px; height:480px; background:rgb(240,240,240); margin: 20px;" class = "shadow">
			
			<div id = "snapshot" style="display:hidden"></div>

			<video id="nativePlayer" src = "" style = "display:none" controls autoplay width="640px" height="480px"></video>

			<div id="StrobeMediaPlayback" style="display:none">
				<p>
					( this player requires flash. check if it's enabled and make sure your browser supports flash )
				</p>
			</div>

			<div style="width: 640px; height: 360px; display: none" id="live-player"></div>

		</div>

						
        <script>
            $(function() {
                $("#begin_date").datetimepicker({
                    timeFormat: 'HH:mm:ss',       
                });
                $("#end_date").datetimepicker({
                    timeFormat: 'HH:mm:ss',
                });
				
				$("#download").click(function() {
					var stream = $("#stream-selector").val();
					var begin = 1000*moment( $("#begin_date").val() ).unix();
                    var end = 1000*moment( $("#end_date").val() ).unix();
					
					var url = window.location.origin + "/cameras/"+camId+"/download?begin="+begin+"&end="+end+"&stream="+stream;
					
					window.location = url;
				});

                $("#search").click(function() {
                    $("#file-list").html("<span class='subtle'>loading...</span>");

                    // converts local time to gmt and then to unix format
                    
                    var begin = 1000*moment( $("#begin_date").val() ).unix(); //.add("minutes", moment().zone()).unix();
                    var end = 1000*moment( $("#end_date").val() ).unix(); //.add("minutes", moment().zone()).unix();

					var stream = $("#stream-selector").val();

					var url = window.location.origin + "/cameras/"+camId+"/video.m3u8?begin="+begin+"&end="+end+"&stream="+stream;
					
					if (!hlsEnabled) {
						launchStrobePlayer({
							url: url,
							autoplay: true
						});
					} else {
						launchNativePlayer( url );
					}
						
                });
                

                $("#get-snapshot").click(function() {
                    
                    $("#file-list").html("<span class='subtle'>loading...</span>");
                    
                    var time = 1000*moment( $("#begin_date").val() ).unix(); //.add("minutes", moment().zone()).unix();
                    getSnapshot(time);
                    
                });
                
				$("#get-livestream").click(function() {
					showLiveStream();
				});
            });

        </script>


		<script>
			getStreamsInfo( camId );
		</script>
		
    </body>
</html>
