<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/jquery-ui.css">

        <link rel="stylesheet" href="/css/cam.css">

        <script src = "/js/jquery.min.js"></script>        
        <script src = "/js/jquery-ui.min.js"></script>
        <script src = "/js/cam.js"></script>

        <script src="/js/timepicker.js"></script>
        <script src="/js/moment.min.js"></script>

        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/d3.v3.min.js"></script>
        <script src="/js/d3-timeline.js"></script>        
        <script>
            var camId = "<%= id %>";
            var rtsp = "<%= streams[0].url %>"
        </script>

        <style>
            .shadow {
                -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.5);
                -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
                box-shadow:         inset 0 0 10px rgba(0,0,0,0.5);
            }

            .video-box {

            }

            .video-box-message {
                position: relative;
                top: 40%;
                margin: 10px;
            }
            
        </style>
    </head>


    <body style = "margin: 10px">
        <h2 class = 'text-muted'> <a href ="/cameras">cameras</a> | <%= name %> </h2> 
        <hr>
		
		<div id = 'stream-selector-container' style = 'width: 300px; height: 70px;'>
			<label for="stream-selector">streams</label>
			<select id = 'stream-selector' class="form-control col-xs-4 input-sm">
			</select>
		</div>

        <div id = "search-bar" class="form-inline">
            <input id="begin_date" type="text" placeholder="start time" ></input>
            <input id="end_date" placeholder="end time" ></input>
            <button id = "search" class = 'btn btn-xs btn-info'>get mp4 video</button>
            <!--button id = "get-hls" class = 'btn btn-xs btn-info'>get hls video</button-->
            <button id = "get-snapshot" class = 'btn btn-xs btn-default'>get a snapshot</button>
            <button id = "get-livestream" class = 'btn btn-xs btn-default'>livestream</button>

        </div>

        <div id = "video" style = "width:640px; height:480px; background:rgb(240,240,240); margin: 20px" class = "shadow">
        </div>

        <script>
            $(function() {
                $("#begin_date").datetimepicker({
                    timeFormat: 'HH:mm:ss',       
                });
                $("#end_date").datetimepicker({
                    timeFormat: 'HH:mm:ss',
                });
                $("#search").click(function() {
                    $("#file-list").html("<span class='subtle'>loading...</span>");

                    // converts local time to gmt and then to unix format
                    
                    var begin = 1000*moment( $("#begin_date").val() ).unix(); //.add("minutes", moment().zone()).unix();
                    var end = 1000*moment( $("#end_date").val() ).unix(); //.add("minutes", moment().zone()).unix();

					var stream = $("#stream-selector").val();

                    queryVideo(begin, end, stream);
                });


                $("#get-hls").click(function() {
                    // converts local time to gmt and then to unix format
                    
                    var begin = 1000*moment( $("#begin_date").val() ).unix(); //.add("minutes", moment().zone()).unix();
                    var end = 1000*moment( $("#end_date").val() ).unix(); //.add("minutes", moment().zone()).unix();
                    
                    showHls(begin, end);
                });
                

                $("#get-snapshot").click(function() {
                    
                    $("#file-list").html("<span class='subtle'>loading...</span>");
                    
                    var time = 1000*moment( $("#begin_date").val() ).unix(); //.add("minutes", moment().zone()).unix();
                    getSnapshot(time);
                    
                });

                $("#get-livestream").click( function() {
                    showLiveStream(rtsp);
                });
                
            });

            // 'begin' and 'end' should be on unix format
            var queryVideo = function(begin, end, stream) {
                
                $("#video").html("<h5 class = 'text-muted lead video-box-message'> loading... </h5>");

                $.ajax({
                    url: "/cameras/"+camId+"/video.json?begin="+begin+"&end="+end+"&stream="+stream,
                    success: function(data, status, xhr) {
                        if(data.success) {
                             showVideo( "/cameras/"+camId+"/video?begin="+begin+"&end="+end+"&stream="+stream );
                        }
                        else {
                            $("#video").html("<h5 class = 'text-muted lead video-box-message'>" + data.error +"</h5>"); 
                        }
                    }, 
                    error: function(err) {
                        console.log("error");
                        $("#video").html("<h5 class = 'text-muted lead'>there was an error: " + err +"</h5>");
                    }
                });
            }


            // 'begin' and 'end' should be on unix format
            var showHls = function(begin, end) {
                
                //$("#video").html("<h5 class = 'text-muted lead video-box-message'> loading... </h5>");
                var html = "<video controls " +
                ' src="/cameras/'+camId+'/video.hls?begin='+begin+'&end='+end+'"' +
                ' height="480" width="640"' +
                ' ></video>';

                $("#video").html( html );
            }


    
            var getSnapshot = function(time) {
                
                $("#video").html("<h5 class = 'text-muted lead video-box-message'> loading... </h5>");

                $.ajax({
                    url: "/cameras/"+camId+"/snapshot?time="+time,
                    success: function(data, status, xhr) {
                        var ct = xhr.getResponseHeader("content-type") || "";
                        if (ct.indexOf('image') > -1) {                        
                            showImage( "/cameras/"+camId+"/snapshot?time="+time );
                        }
                        else {
                            $("#video").html("<h5 class = 'text-muted lead video-box-message'>" + data + "</h5>"); 
                        }
                    }, 
                    error: function(err) {
                        console.log("error");
                        $("#video").html("<h5 class = 'text-muted lead'>there was an error: " + err + "</h5>");
                    }
                });
                
            }

        </script>

        <script>
            // injects video tag
            var showVideo = function(url) {

                var videoHtml = "<video controls autoplay width='640' height='480'>" +
                "<source src=\"" + url + "\" type=\"video/mp4; codecs=\"avc1.42E01E, mp4a.40.2\"\">" +
                "Your browser does not support the <code>video</code> element." +
                "</video>";
                $("#video").html(videoHtml);
            }

        </script>

        <script>
            // injects image tag
            var showImage = function(url) {

                var imageHtml = "<a href = '"+url+"'><img src='"+url+"' width='640' height='480'/></a>";
                $("#video").html(imageHtml);
            }


            var showLiveStream = function(url) {

                var html = '<object type="application/x-vlc-plugin" data="'+url+'" width="640" height="480" id="video1">';
                    html += '<param name="movie" value="'+rtsp+'"/>';
                    html += '<embed type="application/x-vlc-plugin" name="video1"';
                    html += 'autoplay="no" loop="no" width="640" height="480"';
                    html += 'target="'+rtsp+'" /> </object>';

                    $("#video").html( html );
            }
        </script>

		<script>
			getStreamsInfo( camId );
		</script>

    </body>
</html>
