<html>
    <head>
        <script src = "/js/jquery.min.js"></script>        
        <script src = "/js/jquery-ui.min.js"></script>
        <script src="/js/jquery-serialize-object.js"></script>
        <script src = "/js/cameras.js"></script>
		<script src = "/js/timeline.js"></script>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/camera.css">
        <link rel="stylesheet" href="/css/spinner.css">        
        <link rel="stylesheet" href="/css/bootstrap-timepicker.css">
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/d3.v3.min.js"></script>
        <script src="/js/d3-timeline.js"></script>

        <script src="/js/socket.io.js"></script>
        <script src="/js/bootstrap-timepicker.js"></script>
        <script>

					
            var socket = io.connect();

            /*
            socket.on('camera_connected', function(data) {
                console.log('camera_connected');
                console.log(data);
            });
            */
            socket.on('cameraStatus', function(data) {
                var $camitem = $("#camera-item-"+data.cam_id);
                $camitem.find('.camera-item-status').html(data.status);
				if (data.status === 'offline' || data.status === 'disconnected') {
					console.log("#timeline-"+data.cam_id);
					//if (data.status === 'disconnected') alert( data.cam_id + " disconnected");
					$camitem.animate({
						backgroundColor: "rgb(243, 255, 102)"
					}, 1000);
				} else if (data.status === 'online' || data.status === 'connected') {
					//if (data.status === 'connected') alert( data.cam_id + " connected" );
					$camitem.animate({
						backgroundColor: "none"
					}, 1000);
				}
			});
            
        </script>
    </head>

    <body>
        <div id="header">
            <div>
                <dl>
                    <div class="info-item">
                        <dt>IP Address:</dt>
                            <dd class="ip_address"></dd>
                    </div>
                    <div class="info-item">
                        <dt>Model:</dt>
                            <dd class="model"></dd>
                    </div>
                    <div class="info-item">
                        <dt>Version:</dt>
                            <dd class="version"></dd>
                    </div>
                </dl>

                <h1 class="title">Loading...</h1>
            </div>

            <div style ="position:relative;">
                <span id="storage-info"></span>
                <div id="storage-space">
                    <div  class="progress">
                    </div>
                </div>                    
            </div>

        </div>
        <div style="clear:both"></div>
		<p>
			<a href="javascript:openAddCameraDialog()">[ add new camera ]</a> 
            | <a href="javascript:scanForCameras()">[ scan for cameras ]</a> <img style="display:none" height="20" width="20" id= "scan-spinner" src="/img/spinner.gif"/>
			| <a href="/multiview">[ multiview ]</a>
			| <a href="/health">[ system health status ]</a>
		</p>

        <div id = "camera-list">
            
        </div>


        <br>

        <div id = "thumb" style = "display:none; position: absolute; z-index: 1000">
			<img src = ""/>
        </div>

        <div class="modal fade" id = "add-new-camera-dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">add new camera</h4>
                    </div>

                    <div class="modal-body">
						<form id="camera-form" role="form">
                            
							<div style = "height: auto; overflow: auto"> 

								<div class="form-group">
									<label for="camera-name">camera name</label>
									<input type="text" class="form-control" id="camera-name" placeholder="camera name" name="camera[name]">
								</div>

								<!--input name="camera[ip_address]" type="hidden" id="camera-ip">
								<input name="camera[manufacturer]" type="hidden" id="camera-manufacturer"-->
								<!-- TEMPORARY, DEVELOPMENT ONLY -->
								<div class="form-group  col-xs-6">
									<label for="camera-manufacturer">manufacturer</label>
									<select id = 'camera-manufacturer' name="camera[manufacturer]" class="form-control" >
										<option value="axis">Axis</option> 
										<option value="arecont" selected>Arecont</option>
                                        <option value="unknown" selected>Other</option>
									</select>
								</div>

								<div class="form-group  col-xs-4">
									<label for="camera-ip">camera ip</label>
									<input type="text" class="form-control" id="camera-ip" placeholder="camera ip" name="camera[ip]">
								</div>
								<!-- end of TEMPORARY, DEVELOPMENT ONLY -->


								<div class="form-group  col-xs-4">
									<label for="camera-username">username</label>
									<input name="camera[username]" type="text" id="camera-username" class="form-control" placeholder="username">
								</div>
								<div class="form-group  col-xs-4">
									<label for="camera-password">password</label>
									<input name="camera[password]" type="password" id="camera-password" class="form-control">
								</div>
                                <div id="camera-auth-status" class="col-xs-4">
									<span class="glyphicon"></span>
                                </div>
								<br>
							</div>
							
							<hr>

                            <div id="camera-streams-tabs" style = 'width: 100%;'>
								
								<button type="button" class="btn btn-default btn-sm" id="add-stream">add stream</button>
								<br><br>
								<!-- stream tabs -->
								<ul id = 'stream-tabs' class="nav nav-tabs" data-tabs='tabs'>
								</ul>

								<!-- stream panes -->
								<div id = 'stream-panes' class="tab-content">
								</div>
								
                            	<div id="streams-fieldset-container">
                            	</div>
                            
                            </div>
                        </form>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                        <button type="button" class="btn btn-primary" id = "add-new-camera">add</button>
                        <button type="button" class="btn btn-primary" id = "update-camera">save</button>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



        <div class="modal fade" id = "camera-schedule-dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Camera Recording Schedule</h4>
                    </div>
                    <div class="modal-body">
                        <form id="camera-schedule" role="form">
                            <div class="camera-schedule-switch">
<input type="hidden" name="schedule_enabled" value="0">
<input type="checkbox" id="camera-schedule-enable" name="schedule_enabled" class="switch" value="1"><label for="camera-schedule-enable">off/on</label></div><br />
							<div id = 'schedule-table'>
							</div>
							<script>
								$('#schedule-table').html(generateScheduleTable());
							</script>
							
						</form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                        <button type="button" class="btn btn-primary" id = "update-schedule">save</button>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->                


        <div class="modal fade" id = "camera-motion-dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Camera Motion</h4>
                    </div>
                    <div class="modal-body">
                        <form id="camera-motion" role="form">
							<div style = "height: auto; overflow: auto"> 
	                        	<input type="hidden" name="camera_id" />
	                            <div class="camera-motion-switch"><input type="hidden" name="camera[motion][enabled]" value="0" />
	<input type="checkbox" id="camera-motion-enable" name="camera[motion][enabled]" class="switch" value="1"><label for="camera-motion-enable">off/on</label></div>
								<div class="form-group  col-xs-4">
									<label for="camera-motion-sensitivity">Sensitivity</label>
									<input type="number" class="form-control" id="camera-motion-sensitivity" name="camera[motion][sensitivity]">
								</div>

								<div class="form-group  col-xs-4">
									<label for="camera-motion-threshold">Threshold</label>
									<input type="number" class="form-control" id="camera-motion-threshold" name="camera[motion][threshold]">
								</div>
							</div>
						</form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                        <button type="button" class="btn btn-primary" id = "update-motion">save</button>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->  

        <script>

            $.ajax({
                type: "GET",
                url: '/device.json',
                success: function( data ) {
                    $("#header .title").html(data.name);
                    $("#header .ip_address").html(data.ip);
                    $("#header .model").html(data.model);
                    $("#header .version").html(data.version);
                },
                error: function( data ) {

                }
            });

            $.ajax({
                type: "GET",
                url: '/device/storage.json',
                success: function( data ) {
                    var percent = (data.used/data.size)*100;
                    $("#storage-space .progress").append("<div class=\"progress-bar progress-bar-info\" role=\"progressbar\" aria-valuenow=\""+ data.used +"\" aria-valuemin=\"0\" aria-valuemax=\"" + data.size + "\" style=\"width: " + percent + "%\"><span class=\"sr-only\">"+percent+"% Full</span></div>")
                    $("#storage-info").html(Math.round(data.used/1000000000) + " of " + Math.round(data.size/1000000000) + " GB used");
                },
                error: function( data ) {

                }
            });
			
            //
			//var timeline = new Timeline("body");
			var timelines = [];
            
            $('#camera-schedule-dialog .form-control').timepicker({
                showMeridian: false
            });

			var updateTimelines = function( data, options ) {
				
				var timeline = timelines[data.stream];

				if (!timeline) return;
				
				var thumb = "/cameras/" + data.cam + "/streams/" + data.stream + "/thumb/"+data.start + "_" + (data.end-data.start);

				var img = new Image();
			        
				if (options && options.updateThumb) {
				  $(img).attr({
                        src: thumb,
                        width: "100%",
                        height: "100%"
                    }).load(function(){
                        $("#thumb-"+data.cam).html( $(this) );
                    }).error(function(){
                        console.log("unable to load image")
                    });
				  // setTimeout( function() {
				  // 	$img
				  //  }, 1000);	
				  			
				}

				timeline.append({
					start:	data.start,
					w: data.end - data.start,
					thumb: thumb,
					mouseover: function(d) {
						showThumb(d.attr("data-thumb"));
					}
				});
			}

            socket.on('newChunk', function (data) {
				console.log(data);
                $("#timeline-"+data.stream).animate({
					backgroundColor: "none"
				}, 1000);
				updateTimelines(data, {updateThumb: true});
			});

			list();
            // - -
            //
            $("#add-new-camera").click(function() {

                var params = $('#camera-form').serializeObject();

                addCamera( params.camera, function(data) {
					console.log(data);
                    if (data){
                        var camera = data;
                        $dialog = $("#add-new-camera-dialog");
                        $dialog.modal('hide');
                        addCameraItem( camera );
                        for (var i in camera.streams) {
                            
                            timelineSetup(camera._id, camera.streams[i].id, camera.streams[i].name);
                        }
                    }
                });
            });


            $("#add-stream").click(function(){
                addStream();
            })

            $("#camera-username, #camera-password").keyup(function(){
                var manufacturer = $("#camera-manufacturer").val();
                if (manufacturer && manufacturer != 'unknown'){
                    getCameraOptions(function(data){
                        setAuthStatus(data,function(){
                            setConstraintsOnStreamFields(data, function(error){

                            });
                        });
                    });
                }else{
                }
            });

            // - - -
            var openAddCameraDialog = function() {
                $("#update-camera").hide();
                $("#add-new-camera").show();
                var $dialog = $("#add-new-camera-dialog")
                $dialog.find('.modal-title').html("add new camera");
                $dialog.find("#camera-manufacturer").prop('disabled', false);
                $dialog.find("#camera-ip").prop('disabled', false);
                $("#stream-tabs").html("");
                $("#stream-panes").html("");
                $dialog.modal('show');
            }
            // - -
            //
            $('#add-new-camera-dialog').on('hidden.bs.modal', function () {
                $("#add-new-camera-dialog form")[0].reset();
                $("#update-camera").hide();
                $("#add-new-camera").show();
            });
            // - - -

        </script>
    </body>



</html>
