<!DOCTYPE html>
<html>
    <head>
		<script>
			var camId = "<%= _id %>";
		</script>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/jquery-ui.css">
		<link rel="stylesheet" href="/css/lib/default.css">
		<link rel="stylesheet" href="/css/lib/default.date.css">
		<link rel="stylesheet" href="/css/lib/cspinners.css" />
		<link rel="stylesheet" href="/css/lib/toastr.min.css" />

        <link rel="stylesheet" href="/css/cam.css">

		<!-- timeline css -->
        <link rel="stylesheet" href="/css/timeline.css">
		<!-- timeline css -->
		

        <script src = "/js/jquery.min.js"></script>        
        <script src = "/js/jquery-ui.min.js"></script>

        <script src="/js/socket.io.js"></script>

		<script src="/js/lib/toastr.js"></script>

		<!-- those three lines are needed for the timeline -->
		<script src = "/js/indexer.js"></script> 
		<script src = "/js/timeline.js"></script>
		<script src="/js/timeline-selector.js"></script>
		<!-- those three lines are needed for the timeline -->

		<script type="text/javascript" src="/js/swfobject.js"></script>
        <script src = "/js/cameraPage.js"></script>

        <script src="/js/moment.min.js"></script>
        <script src="/js/lib/path.min.js"></script>

        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/d3.v3.min.js"></script>
        <script src="/js/d3-timeline.js"></script>    

		<script src="/js/lib/bootbox.min.js"></script>

		<script src="/js/lib/picker.js"></script>
		<script src="/js/lib/picker.date.js"></script>

        <script src="/js/player.js"></script>

        <script src="/js/previewer.js"></script>
    </head>


    <body style = "margin: 10px">
		<!-- <div style = 'opacity: 0.5; position:absolute; top:0px; right:0px'> -->
		<!-- 	<a href= "/v1/cameras/<%= _id  %>">v1</a>  -->
		<!-- </div> -->

	<h2 class = 'text-muted'> <a href ="/cameras">cameras</a> | <span id='camera_name'><%= name %></span> </h2> 
        <hr>
		
		<div id = 'stream-selector-container' style = 'width: 300px; height: 70px;'>
			<label for="stream-selector">streams</label>
			<select id = 'stream-selector' class="form-control col-xs-4 input-sm"></select>
		</div>

        <div id = "search-bar" class="form-inline">

            <input id="begin_date" type="text" placeholder="select a day" ></input>

            <!-- <button id = "get&#45;snapshot" class = 'btn btn&#45;xs btn&#45;default'>get a snapshot</button> -->
            <button id = "get-livestream" class = 'btn btn-xs btn-default'>livestream</button>
			<button id = "download" class = 'btn btn-xs btn-default'>download video</button>
        </div>

		<div id = "time-map">
			<div id = "date-selector"></div>	


			<!-- include those lines to add a timeline to your page -->
			<div id = "marker"></div>
			<div id = "zoom-back"> <span class='glyphicon glyphicon-zoom-out'></span> </div>
			<div id = "timeline">
				<div id = "timeline-selector"></div>
				<div id = "ghost-cursor"></div>
			</div>				
			<!-- include those lines to add a timeline to your page -->

			<div id = "preview" style = "width:100%; height: 15px; position: absolute; opacity: 0.9;">
			</div> 
			<div id = "preview-marker"></div>

			<div id = "video-controls">
				<button id = "jump-backward-5" class = 'video-control-button btn btn-default btn-xs'>
					<span class="">-5s</span> 
				</button>

				<button id = "toggle-play" class = 'video-control-button btn btn-default btn-xs'>
					<span id='play-icon' class="glyphicon glyphicon-pause"></span> 
				</button>

				<button id = "jump-forward-5" class = 'video-control-button btn btn-default btn-xs'>
					<span class="">+5s</span> 
				</button>
			</div>

			<div id = "ghost-button" style=''>
				<img src='/img/ghost.png'>
			</div>

			<button id = "toggle-motion" class = 'toggle-motion btn btn-default btn-xs'></button>
		</div>
		 
		<div id = "curr-time"></div>


		<div id = "video-container" style = "width:640px; height:480px; background:rgb(240,240,240); margin: 20px;position:relative; overflow:hidden" class = "shadow">
			<div id = "video" style = "width: 100%; height: 100%; position: absolute; left: 0px; top: 0px;" class = "shadow">
			</div>
			<div id = "preview-frame" style="width:100%; height:100%; position:absolute; top:0px;left:0px; z-index: 100;">
				<img style = "width:100%; height: 100%"></img>
			</div>
		</div>

		<div id = "thumb">
			<div id = 'thumb-time'></div>
			<img src = ""/>
        </div>

		<div id = "grid" style="width:300px; height:300px;background:none">
		</div>

		<!-- <div id = "debug" style="position:absolute; z&#45;index:10000; background:red; width:5px; height:5px"></div> -->

        <script>

			var ROI = "";

			var frames = [];
			var index = 0;

			var camPage;
            $(function() {
				camPage = new CameraPage( camId );
				camPage.setup();			
            });

			var socket = io.connect();
			socket.on('time', function(data) {
				local_offset = (new Date()).getTimezoneOffset()/60;
				Date.tz_offset = local_offset - data.tz_offset;
			});

			var preview;

			$(window).on('timeline-rendered', function(e, d) {

				if( preview ) preview.cancel();

				$('#preview-marker').show();
				$('#preview-marker').css('left', 0);

				preview = new Preview( '#preview' );

				var segments = camPage.timeline.indexer.elements;
				preview.load( segments, d.begin, d.end );

				$('#ghost-button').show();
			});

			$('#preview').on('mouseover', function() {
				if (dragging) return;
				$('#preview-frame').show();
				$('#ghost-cursor').show();
			});
			$('#preview').on('mouseenter', function() {
				if (dragging) return;
				$('#preview-frame').show();
				$('#ghost-cursor').show();
			});
			$('#preview').on('mouseleave', function() {
				if (dragging) return;
				$('#preview-frame').hide();
				$('#ghost-cursor').hide();
			});

			$('#ghost-button').on('click', function() {
				if (preview) {
					preview.toggleGhost();
				}
			});

			var dragging = false;

			$('#preview-marker').draggable({
				axis: 'x',
				drag: function(ev, ui) {
					if(!preview) return;
					var y = $('#preview').offset().top+10;
					var x = ui.offset.left+2;
					$(this).hide();
					// $('#debug').css('left', x);
					// $('#debug').css('top', y);
					// $('#debug').hide();
					var scrollY = $(document).scrollTop();
					var scrollX = $(document).scrollLeft();
					y -= scrollY;
					x -= scrollX;
					var el = document.elementFromPoint(x, y);
					$(this).show();
					// $('#debug').show();

					el = $(el);
					if (!el) return;

					var thumb_url = el.attr('data-url');
					if (!thumb_url) {
						// console.log(el[0]);
						// console.log(x + ' ' + y);
						return;
					}

					preview.displayFrame( thumb_url );

					var px = el.attr('data-px');
					if (isNaN(px)) return;
					$('#ghost-cursor').css('left', px + '%');
				},
				start: function() {
					dragging = true;
					$('#preview-frame').show();
					$('#ghost-cursor').show();
				},
				stop: function(ev, ui) {
					dragging = false;
					$('#preview-frame').hide();
					$('#ghost-cursor').hide();

					var y = $(this).offset().top+2;
					var x = ui.offset.left+2;
					// $('#debug').hide();
					$(this).hide();
					var scrollY = $(document).scrollTop();
					var scrollX = $(document).scrollLeft();
					y -= scrollY;
					x -= scrollX;
					var el = document.elementFromPoint(x, y);
					$(this).show();
					// $('#debug').show();

					el = $(el);

					var relative_time = el.attr('data-relative-time');
					if( isNaN(relative_time) ) return;
					camPage.player.play();
					$(window).trigger('jumpTo', {
						time: relative_time
					});
				}
			});

        </script>

    </body>
</html>
