<!DOCTYPE html>
<html>
    <head>
		<script>
			var camId = "<%= _id %>";
		</script>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/spinner.css">        
        <link rel="stylesheet" href="/css/jquery-ui.css">
		<link rel="stylesheet" href="/css/lib/default.css">
		<link rel="stylesheet" href="/css/lib/default.date.css">
		<link rel="stylesheet" href="/css/lib/cspinners.css" />
		<link rel="stylesheet" href="/css/lib/toastr.min.css" />

        <link rel="stylesheet" href="/css/cam.css">

		<!-- timeline css -->
        <link rel="stylesheet" href="/css/timeline.css">
		<!-- timeline css -->
		

        <script src = "/js/jquery.min.js"></script>        
        <script src = "/js/jquery-ui.min.js"></script>

        <script src="/js/socket.io.js"></script>

		<script src="/js/lib/toastr.js"></script>
        <script src = "/js/overlay.js"></script>

		<!-- those three lines are needed for the timeline -->
		<script src = "/js/indexer.js"></script> 
		<script src = "/js/timeline.js"></script>
		<script src="/js/timeline-selector.js"></script>
		<!-- those three lines are needed for the timeline -->

		<script type="text/javascript" src="/js/swfobject.js"></script>
        <script src = "/js/cameraPage.js"></script>

        <script src="/js/moment.min.js"></script>
        <script src="/js/lib/path.min.js"></script>

        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/d3.v3.min.js"></script>
        <script src="/js/d3-timeline.js"></script>    

		<script src="/js/lib/bootbox.min.js"></script>

		<script src="/js/lib/picker.js"></script>
		<script src="/js/lib/picker.date.js"></script>

        <script src="/js/player.js"></script>

        <script src="/js/previewer.js"></script>
		<script src="/js/lib/zero_clipboard/ZeroClipboard.js"></script>
    </head>


    <body style = "margin: 10px">
		<!-- <div style = 'opacity: 0.5; position:absolute; top:0px; right:0px'> -->
		<!-- 	<a href= "/v1/cameras/<%= _id  %>">v1</a>  -->
		<!-- </div> -->

	<h2 class = 'text-muted'> <a href ="/cameras">cameras</a> | <span id='camera_name'><%= name %></span> </h2> 
        <hr>
		
		<div id = 'stream-selector-container' style = 'width: 300px; height: 70px; margin-left:20px'>
			<label for="stream-selector">streams</label>
			<select id = 'stream-selector' class="form-control col-xs-4 input-sm" id = 'select-day'></select>
		</div>

            <input id="begin_date" type="text" placeholder="select a day" style='display:none'></input>
		<div id = "time-box" class = 'btn-toolbar'>
			<div id = 'playback-controls' class='btn-group'>
				<button id = 'date-picker' class = "btn btn-default timestamp btn-xs white-bg" type="text" value="" >
					<span class = "glyphicon glyphicon-calendar"></span>
					<span id = 'curr-time' class="date"> select a day </span>
				</button>
			</div>
			<div id = '' class = 'btn-group'>
				<button id = "jump-backward-5" class = 'white-bg btn btn-default btn-xs' title = 'go back 5s'>
					<span class="">-5s</span> 
				</button>
				<button id = "jump-forward-5" class = 'white-bg btn btn-default btn-xs' title = 'skip 5s'>
					<span class="">+5s</span> 
				</button>
			</div>
			<div id = '' class = 'btn-group'>
				<button id = "toggle-play" class = "btn btn-default pause btn-xs white-bg">
					<span id = 'play-icon' class = "glyphicon glyphicon-pause"></span>
				</button>
			</div>

			<div id = "" class="btn-toolbar" style="float:right; margin-left:20px;">

        <div class = 'btn-group'>
          <button id = "snapshot" class = 'btn btn-xs btn-default white-bg' title = 'snapshot'>
						<span class='glyphicon glyphicon-picture'></span>
					</button>
        </div>
				<div class = 'btn-group'>
					<button id = "toggle-motion" class = 'white-bg btn btn-default btn-xs' title='toggle motion on timeline'> <img src = '/img/motion-icon.png'/></button>
				</div>
				<div class = 'btn-group'>
					<button id = "download" class = 'btn btn-xs btn-default white-bg' title = 'download video'>
						<span class='glyphicon glyphicon-download-alt'></span>
					</button>
				</div>
				<div class='btn-group'>
					<button id = "link-to-timeline" class = 'btn btn-xs btn-default white-bg' title = 'share a link to this timeline'>
						<span class='glyphicon glyphicon-link'></span>
					</button>
					<button id = "cameras-popover" class = 'btn btn-xs btn-default white-bg'
						disabled='disabled'
						alt='open timeline in another camera'
						data-toggle='popover'
						title='Open a camera in new tab'
						>
						<span class='glyphicon glyphicon-share'></span>
					</button>
				</div>
			</div>
		</div>

		<div id = "time-map">
			<div id = "date-selector"></div>	

			<!-- include those lines to add a timeline to your page -->
			<div id = "marker"></div>
			<div id = "zoom-back"> <span class='glyphicon glyphicon-zoom-out'></span> </div>
			<div id = "timeline">
				<div id = "timeline-selector"></div>
				<div id = "ghost-cursor">
					<div id = 'ghost-cursor-time'> time </div>
				</div>
			</div>				
			<!-- include those lines to add a timeline to your page -->

			<div id = "preview" style = "width:100%; height: 15px; position: absolute; opacity: 0.9;">
			</div> 
			<div id = "preview-marker"></div>


			<div id = "ghost-button" style='' title = 'see changes relative to current frame'>
				<img src='/img/ghost.png'>
			</div>

			<button id = "get-livestream" class = 'btn btn-xs btn-default' title='watch livestream from this camera'>
				go live
			</button>
		</div>
		 
		<!-- <div id = "curr&#45;time"></div> -->

		<div id = "video-container" style = "width:640px; height:480px; background:rgb(240,240,240); margin: 20px; margin-top: 25px; position:relative; overflow:hidden" class = "shadow">
			<div id = "video" style = "width: 100%; height: 100%; position: absolute; left: 0px; top: 0px;" class = "shadow">
			</div>
			<div id = "preview-frame" style="width:100%; height:100%; position:absolute; top:0px;left:0px; z-index: 100;">
				<img style = "width:100%; height: 100%"></img>
			</div>
			<div id = "video-time"></div>
		</div>

		<!-- <div id = 'debug' style='position: absolute; width: 5px; height: 5px; background: red'></div> -->

		<div id = "thumb">
			<div id = 'thumb-time'></div>
			<img src = ""/>
        </div>

		<div id = "grid" style="width:300px; height:300px;background:none">
		</div>
	<!-- 	<button id = 'cameras&#45;popover' type="button" class="btn btn&#45;lg btn&#45;danger" data&#45;toggle="popover" title="Popover title" >Click to toggle popover</button> -->
		<div id = "cameras-popover-content-wrapper" style = 'display: none'>
			<div id = 'cameras-popover-content' style = 'max-height: 300px; overflow: auto'>

			</div>
		</div>

        <script>

			var camPage;

			$('#cameras-popover').popover({
				html: true,
				placement: 'auto',
				content: function() {
					return $('#cameras-popover-content').html();
				}
			});

            $(function() {
				camPage = new CameraPage( camId );
				camPage.setup( function() {
					camPage.loadStateFromURL();
				});			

				$('#jump-backward-5').tooltip();
				$('#jump-forward-5').tooltip();
				$('#toggle-motion').tooltip();
				$('#download').tooltip();
				$('#link-to-timeline').tooltip();
				$('#get-livestream').tooltip();
				$('#ghost-button').tooltip();
				$('#cameras-popover').tooltip();
            });

			var socket = io.connect();
			socket.on('time', function(data) {
				local_offset = (new Date()).getTimezoneOffset()/60;
				Date.tz_offset = local_offset - data.tz_offset;
			});

			var preview;

			$(window).on('timeline-rendered', function(e, d) {

				$('#video-time').fadeIn();

				if( preview && preview.cancel ) preview.cancel();

				preview = new Preview( '#preview' );
				preview.showMarker();

				var segments = camPage.timeline.indexer.elements;
				preview.load( segments, d.begin, d.end );

				$('#ghost-button').show();

				if (camPage.state && camPage.state.begin && camPage.state.end) {
					var begin = camPage.state.begin;
					var end = camPage.state.end;
					camPage.state.begin = camPage.state.end = null;
					setTimeout( function() {
						camPage.timeline.zoom(begin, end);
					}, 10);
				}

			});

			$('#preview').on('mouseover', function() {
				if (dragging) return;
				// $('#preview-frame').show();
				$('#ghost-cursor').show();
			});
			$('#preview').on('mouseenter', function() {
				if (dragging) return;
				// $('#preview-frame').show();
				$('#ghost-cursor').show();
			});
			$('#preview').on('mouseleave', function() {
				if (dragging) return;
				$('#preview-frame').hide();
				$('#ghost-cursor').hide();
			});

			$('#ghost-button').on('click', function() {
				if (preview) {
					preview.toggleGhost();
				}
			});

			var dragging = false;

			$('#preview-marker').draggable({
				axis: 'x',
				drag: function(ev, ui) {
					if(!preview) return;
					var y = $('#preview').offset().top + 10;
					var x = ui.offset.left+2;
					$(this).hide();
					// $('#debug').css('left', x);
					// $('#debug').css('top', y);
					// $('#debug').hide();
					var scrollY = $(document).scrollTop();
					var scrollX = $(document).scrollLeft();
					y -= scrollY;
					x -= scrollX;
					var el = document.elementFromPoint(x, y);
					$(this).show();
					// $('#debug').show();

					el = $(el);
					if (!el) return;

					var thumb_url = el.attr('data-url');
					if (!thumb_url) {
						return;
					}

					preview.displayFrame( thumb_url );

					var px = el.attr('data-px');
					if (isNaN(px)) return;
					$('#ghost-cursor').css('left', px + '%');

					var time = el.attr('data-start');
					if (!!time) {
						time = parseInt( time );
						time = moment( time ).format( 'HH:mm:ss' );
						$('#ghost-cursor-time').html(time);
					}
				},
				start: function() {
					dragging = true;
					$('#preview-frame').show();
					$('#ghost-cursor').show();
				},
				stop: function(ev, ui) {
					dragging = false;
					$('#preview-frame').hide();
					$('#ghost-cursor').hide();

					var y = $(this).offset().top+10;
					var x = ui.offset.left+2;
					// $('#debug').hide();
					$(this).hide();
					var scrollY = $(document).scrollTop();
					var scrollX = $(document).scrollLeft();
					y -= scrollY;
					x -= scrollX;
					var el = document.elementFromPoint(x, y);
					$(this).show();
					// $('#debug').show();

					el = $(el);

					var relative_time = el.attr('data-relative-time');
					if( isNaN(relative_time) ) return;
					camPage.player.play();
					$(window).trigger('jumpTo', {
						time: relative_time
					});
				}
			});

        </script>

    </body>
</html>
