<html>
    <head>
        <script src = "/js/jquery.min.js"></script>        
        <script src = "/js/jquery-ui.min.js"></script>
        <script src="/js/jquery-serialize-object.js"></script>
        <script src = "/js/cameras.js"></script>
		<script src = "/js/timeline.js"></script>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/camera.css">
        <link rel="stylesheet" href="/css/bootstrap-timepicker.css">
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/d3.v3.min.js"></script>
        <script src="/js/d3-timeline.js"></script>

        <script src="/js/socket.io.js"></script>
        <script src="/js/bootstrap-timepicker.js"></script>
        <script>

					
            var socket = io.connect();

            /*
            socket.on('camera_connected', function(data) {
                console.log('camera_connected');
                console.log(data);
            });
            */
            socket.on('cameraStatus', function(data) {
				if (data.status === 'offline' || data.status === 'disconnected') {
					console.log("#timeline-"+data.cam_id);
					//if (data.status === 'disconnected') alert( data.cam_id + " disconnected");
					$("#camera-item-"+data.cam_id).animate({
						backgroundColor: "rgb(243, 255, 102)"
					}, 1000);
					} else if (data.status === 'online' || data.status === 'connected') {
						//if (data.status === 'connected') alert( data.cam_id + " connected" );
						$("#camera-item-"+data.cam_id).animate({
							backgroundColor: "none"
						}, 1000);
					}
			});
            
        </script>
    </head>

    <body>
 
        <h1>cameras</h1>
		<p>
			<a href="javascript:openAddCameraDialog()">[ add new camera ]</a> 
			| <a href="/multiview">[ multiview ]</a>
			| <a href="/health">[ system health status ]</a>
		</p>

        <div id = "camera-list"></div>
        
        <br>

        <div id = "thumb" style = "display:none; position: absolute; z-index: 1000">
			<img src = ""/>
        </div>

        <div class="modal fade" id = "add-new-camera-dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">add new camera</h4>
                    </div>

                    <div class="modal-body">
						<form id="camera-form" role="form">
                            <input name="camera[ip_address]" type="hidden" id="camera-ip">
                            <input name="camera[manufacturer]" type="hidden" id="camera-manufacturer">
                            <div class="form-group">
                                <label for="camera-name">camera name</label>
                                <input type="text" class="form-control" id="camera-name" placeholder="camera name" name="camera[name]">
                            </div>
                            <div class="form-group">
                                <label for="camera-username">username</label>
                                <input name="camera[username]" type="text" id="camera-username" class="form-control" placeholder="username">
                            </div>
                            <div class="form-group">
                                <label for="camera-password">password</label>
                                <input name="camera[password]" type="password" id="camera-password" class="form-control">
                            </div>
                            <fieldset class="recording-profile-fields" style="display:none">
                                <div class="form-group">
                                    <label for="camera-stream-resolution">camera name</label>
                                    <select class="form-control" id="camera-stream-resolution" name="camera[streams][][resolution]">
                                </div>
                                <div class="form-group">
                                    <label for="camera-username">username</label>
                                    <input name="camera[username]" type="text" id="camera-username" class="form-control" placeholder="username">
                                </div>
                                <div class="form-group">
                                    <label for="camera-password">password</label>
                                    <input name="camera[password]" type="password" id="camera-password" class="form-control">
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                        <button type="button" class="btn btn-primary" id = "add-new-camera">add</button>
                        <button type="button" class="btn btn-primary" id = "update-camera">save</button>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



        <div class="modal fade" id = "camera-schedule-dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Camera Recording Schedule</h4>
                    </div>
                    <div class="modal-body">
                        <form id="camera-schedule" role="form">
                            <div class="camera-schedule-switch"><input type="hidden" name="schedule_enabled" value="0" />
<input type="checkbox" id="camera-schedule-enable" name="schedule_enabled" class="switch" value="1"><label for="camera-schedule-enable">on/off</label></div>
                            <table class="table table-bordered">
                                <tr>
                                    <th></th>
                                    <th>Sunday</th>
                                    <th>Monday</th>
                                    <th>Tuesday</th>
                                    <th>Wednesday</th>
                                    <th>Thursday</th>
                                    <th>Friday</th>
                                    <th>Saturday</th>
                                </tr>
                                <tr>
                                    <td>Start Time</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="input-append bootstrap-timepicker">
                                                <input type="text" class="form-control input-small" id="schedule-sunday-open" name="schedule[sunday][open]">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="input-append bootstrap-timepicker">
                                                <input type="text" class="form-control input-small" id="schedule-monday-open" name="schedule[monday][open]">
                                            </div>
                                        </div>                                        
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="input-append bootstrap-timepicker">
                                                <input type="text" class="form-control input-small" id="schedule-tuesday-open" name="schedule[tuesday][open]">
                                            </div>                                            
                                        </div>                                        
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="input-append bootstrap-timepicker">
                                                <input type="text" class="form-control input-small" id="schedule-wednesday-open" name="schedule[wednesday][open]">
                                            </div>
                                        </div>                                        
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="input-append bootstrap-timepicker">
                                                <input type="text" class="form-control input-small" id="schedule-thursday-open" name="schedule[thursday][open]">
                                            </div>
                                        </div>                                        
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="input-append bootstrap-timepicker">
                                                <input type="text" class="form-control input-small" id="schedule-friday-open" name="schedule[friday][open]">
                                            </div>
                                        </div>                                        
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="input-append bootstrap-timepicker">
                                                <input type="text" class="form-control input-small" id="schedule-saturday-open" name="schedule[saturday][open]">
                                            </div>
                                        </div>                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>End Time</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="input-append bootstrap-timepicker">
                                                <input type="text" class="form-control input-small" id="schedule-sunday-close" name="schedule[sunday][close]">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="input-append bootstrap-timepicker">
                                                <input type="text" class="form-control input-small" id="schedule-monday-close" name="schedule[monday][close]">
                                            </div>
                                        </div>                                        
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="input-append bootstrap-timepicker">
                                                <input type="text" class="form-control input-small" id="schedule-tuesday-close" name="schedule[tuesday][close]">
                                            </div>
                                        </div>                                        
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="input-append bootstrap-timepicker">
                                                <input type="text" class="form-control input-small" id="schedule-wednesday-close" name="schedule[wednesday][close]">
                                            </div>
                                        </div>                                        
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="input-append bootstrap-timepicker">
                                                <input type="text" class="form-control input-small" id="schedule-thursday-close" name="schedule[thursday][close]">
                                            </div>
                                        </div>                                        
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="input-append bootstrap-timepicker">
                                                <input type="text" class="form-control input-small" id="schedule-friday-close" name="schedule[friday][close]">
                                            </div>
                                        </div>                                        
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="input-append bootstrap-timepicker">
                                                <input type="text" class="form-control input-small" id="schedule-saturday-close" name="schedule[saturday][close]">
                                            </div>
                                        </div>                                        
                                    </td>
                                </tr>                                
                            </table>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                        <button type="button" class="btn btn-primary" id = "update-schedule">save</button>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->                

        <script>
            // - -
            //
			//var timeline = new Timeline("body");
			var timelines = [];
            
            $('#camera-schedule-dialog .form-control').timepicker({
                showMeridian: true
            });

			var updateTimelines = function( data, options ) {
				
				var timeline = timelines[data.cam];

				if (!timeline) return;
				
				var thumb = "/cameras/"+data.cam+"/thumb/"+data.start;

				var img = new Image();
			        
				if (options && options.updateThumb) {
				  
				  setTimeout( function() {
				  	$(img).load(function(){
						$("#thumb-"+data.cam).html( $(this) );
				  	}).attr({
						src: thumb,
				  		width: "100%",
				  		height: "100%"
				  	}).error(function(){
				  	});
				   }, 1000);	
				  			
				}

				timeline.append({
					start:	data.start,
					w: data.end - data.start,
					thumb: thumb,
					mouseover: function(d) {

						showThumb(d.attr("data-thumb"));
					}
				});
			}

            socket.on('newChunk', function (data) {
				
                $("#timeline-"+data.cam).animate({
					backgroundColor: "none"
				}, 1000);
				updateTimelines(data, {updateThumb: true});
			});

			list();
            // - -
            //
            $("#add-new-camera").click(function() {

                var camera = {};

                // clear the form                
                // camera.name = $("#camera-name").val();
                // camera.ip = $("#camera-ip").val();
                // camera.rtsp = $("#rtsp-stream").val();

                $("#update-camera").hide();
                $("#add-new-camera").show();

                addCamera( camera, function(data) {
                    $("#add-new-camera-dialog").modal('hide');
                    addCameraItem( data );
					console.log(data);
					timelineSetup(data._id, data.name);
                });
            });

            $("#camera-username, #camera-password").on( "blur", function(){

                //get the values of the username and password

                //get the supported parameters of the camera
            });



            // - - -
            var openAddCameraDialog = function() {
                $("#update-camera").hide();
                $("#add-new-camera").show();
                $("#add-new-camera-dialog").modal('show');
            }
            // - -
            //
            $('#add-new-camera-dialog').on('hidden.bs.modal', function () {
                $("#add-new-camera-dialog form")[0].reset();
                $("#update-camera").hide();
                $("#add-new-camera").show();
            });
            // - - -

        </script>
    </body>



</html>
