<html>
    <head>
		<script>
			var camId = "<%= _id %>";
		</script>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/jquery-ui.css">
		<link rel="stylesheet" href="/css/lib/default.css">
		<link rel="stylesheet" href="/css/lib/default.date.css">

        <link rel="stylesheet" href="/css/cam.css">
		
        <script src = "/js/jquery.min.js"></script>        
        <script src = "/js/jquery-ui.min.js"></script>

        <script src="/js/socket.io.js"></script>

		<script src = "/js/indexer.js"></script> 
		<script src = "/js/timeline.js"></script>

		<script type="text/javascript" src="/js/swfobject.js"></script>
        <script src = "/js/cam_init.js"></script>

        <script src="/js/timepicker.js"></script>
        <script src="/js/moment.min.js"></script>

        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/d3.v3.min.js"></script>
        <script src="/js/d3-timeline.js"></script>    

		<script src="/js/lib/picker.js"></script>
		<script src="/js/lib/picker.date.js"></script>

		<script src="/js/date-selector.js"></script>
		<script src="/js/timeline-selector.js"></script>

        <script src="/js/player.js"></script>
    </head>


    <body style = "margin: 10px">
	<h2 class = 'text-muted'> <a href ="/cameras">cameras</a> | <span id='camera_name'><%= name %></span> </h2> 
        <hr>
		
		<div id = 'stream-selector-container' style = 'width: 300px; height: 70px;'>
			<label for="stream-selector">streams</label>
			<select id = 'stream-selector' class="form-control col-xs-4 input-sm"></select>
		</div>

        <div id = "search-bar" class="form-inline">
            <input id="begin_date" type="text" placeholder="select a day" ></input>

            <button id = "get-snapshot" class = 'btn btn-xs btn-default'>get a snapshot</button>
            <button id = "get-livestream" class = 'btn btn-xs btn-default'>livestream</button>

			<button id = "download" class = 'btn btn-xs btn-default'>download video</button>

        </div>

		<div id = "time-map">
			<div id = "date-selector"></div>	
			<div id = "marker"></div>

			<div id = "timeline">
				<div id = "timeline-selector"></div>
			</div>				
		</div>
		 
		<div id = "video" style = "width:640px; height:480px; background:rgb(240,240,240); margin: 20px;" class = "shadow">
		</div>

		<div id = "thumb" style = "display:none; position: absolute; z-index: 1000">
			<div id = 'thumb-time'></div>
			<img src = ""/>
        </div>
					
        <script>
			var camPage;
            $(function() {
				camPage = new CameraPage( camId );
				camPage.setup();			
            });
        </script>

		<script>
			// var dateSelector = new DateSelector("#date-selector");
				
			// getStreamsInfo( camId, function() {
			// 	// list();
			// });

		</script>

		<script>
			var timelineSelector = new TimelineSelector("#timeline-selector");
			var mousePressed = false;
			var mouseDragged = false;
			$('#timeline-selector').mousedown( function(e) {
					var x = e.pageX - $(this).parent().offset().left;//left;
					timelineSelector.setLeft( x );
					timelineSelector.setRight( x ); 				
					mousePressed = true;
					mouseDragged = false;
			});
			$('#timeline-selector').mousemove( function(e) {
				console.log("x");
				if ( mousePressed ) {
					mouseDragged = true;
					var x = e.pageX - $(this).parent().offset().left;
					timelineSelector.setBounds( x ); 				
				}
			});
			$('#timeline-selector').mouseup( function(e) {
					mousePressed = false;
					if( !mouseDragged ) {
						console.log("that was a click");
						var left = $(window).scrollLeft();
						var top = $(window).scrollTop();

						$(this).css('display','none');
						$(document.elementFromPoint(e.pageX-left, e.pageY-top)).click();
						console.log( 	$(document.elementFromPoint(e.pageX-left, e.pageY-top)) );
						$(this).css('display','block');
					}
					else { 
						console.log("that was a drag");
					}
			});
		</script>		
    </body>
</html>
