<!DOCTYPE html>
<html>
    <head>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/jquery-ui.css">

        <link rel="stylesheet" href="/css/cam.css">
        <link rel="stylesheet" href="/css/multi.css">

        <script src = "/js/jquery.min.js"></script>        
        <script src = "/js/jquery-ui.min.js"></script>

		<script src = "/js/player.js"></script>
		<script src = "/js/multiview/pos.js"></script>

		<script type="text/javascript" src="/js/swfobject.js"></script>

        <script src="/js/socket.io-1.2/socket.io-1.2.js"></script>
		<script>
			var io_1_2 = io;
		</script>
        <script src="/js/socket.io.js"></script>

        <script src="/js/bootstrap.min.js"></script>

		<script src="/js/multiview/camera.js"></script>
		<script src="/js/multiview/camera_group.js"></script>
		<script src="/js/multiview/groups_manager.js"></script>

		<script src = "/js/multiview/multiview.js"></script>

        <script>

			var cameras = {};
			var sources = {};

			var ports = [
				8080,
				4001,
				4002,
				4003,
				4004
			];

			var socket = io.connect();

			socket.on('reload', function(data) {
				window.location.reload();
			});

			//
			var groupsManager = new GroupsManager();
			createGroups(5);


			$(function(){
				var grid = $("#grid-slot");

				groupsManager.appendTo( grid );
				groupsManager.rotate();
				
				createGroupsMenu();
				populateCamerasList();

				setupEvents();
			});
        </script>

    </head>


    <body style = "margin: 10px; height: 100%; width:100%; margin:0">
        <h2 class = 'text-muted' style="margin:10px"> <a href ="/cameras">cameras</a> | multiview </h2> 
        <hr>

		<div id = 'grid-slot' style="width:100%; height:100%"></div>


		<div id = 'groups-menu'>
			<span id = '' style = 'color: rgba(150,150,150,0.8);float: left; margin-right: 8px; font-size: 0.9em'> camera groups </span>
			<span id = 'groups-play-pause' style='margin-left: 2px; float:right' class='glyphicon glyphicon-play'></span>
		</div>

		<div id = 'toggle-cameras-list' style = ''> <span class ='glyphicon glyphicon-facetime-video'></span></div>

		<div id = "cameras-list" class = "cameras-list">
			<div class='list-title'>available cameras</div>
		</div>

		<div id = 'toggle-pos-list' style = 'display: none'> <span class ='glyphicon glyphicon-align-justify'></span></div>
		<div id = "pos-list" class = "pos-list">
			<div class='list-title'>POS devices</div>
		</div>
    </body>

</html>

