<!DOCTYPE html>
<html>
    <head>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/jquery-ui.css">

        <link rel="stylesheet" href="/css/cam.css">

        <script src = "/js/jquery.min.js"></script>        
        <script src = "/js/jquery-ui.min.js"></script>
		<script src = "/js/player.js"></script>

        <script src="/js/timepicker.js"></script>
        <script src="/js/moment.min.js"></script>

		<script type="text/javascript" src="/js/swfobject.js"></script>

        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/d3.v3.min.js"></script>
        <script src="/js/d3-timeline.js"></script>        

        <script>
            var playerHTML = function(id, rtsp, width, height) {
            }
			
			var rootUrl = location.protocol + '//' + location.host

			$(function(){
                var $list = $("#cameras-list");
                $.getJSON( "/cameras.json", function( data ) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i] && data[i].streams && data[i].streams.length > 0) {
							var playerDiv = $('<div>', {
								id: 'video-container-' + i,
								class: 'video-container',
								style: 'position: relative; float: left;width:480px; height:320px; margin: 5px'
							}).appendTo($list);
							var camName = $('<div>', {
								class: 'camera-name',
								style: 'position: absolute; top:-20px; width:100%; overflow: hidden; top: -20px; background: rgba(0,0,0,0.7); padding-bottom: 2px; padding-left: 5px; padding-right: 5px; color: rgba(255,255,255,0.7)',
								html: data[i].name || data[i].ip
							}).appendTo(playerDiv);

							console.log(data[i]);

							var player = new Player( playerDiv );
							var camId = data[i]._id;
							var streamId = data[i].streams[0].id;
							player.playVideo( camId, streamId );
                        }
                    }
                });
            });
        </script>
    </head>


    <body style = "margin: 10px">
        <h2 class = 'text-muted'> <a href ="/cameras">cameras</a> | multiview </h2> 
        <hr>
        <div id="cameras-list" class = "video-items" style = "">
            
        </div>
    </body>
</html>

