<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/jquery-ui.css">

        <link rel="stylesheet" href="/css/cam.css">

        <script src = "/js/jquery.min.js"></script>        
        <script src = "/js/jquery-ui.min.js"></script>
        <script src = "/js/cam.js"></script>

        <script src="/js/timepicker.js"></script>
        <script src="/js/moment.min.js"></script>

        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/d3.v3.min.js"></script>
        <script src="/js/d3-timeline.js"></script>        
        <script>
            var playerHTML = function(id, rtsp, width, height) {

                var html = '<object type="application/x-vlc-plugin" data="'+rtsp+'" width="'+ width +'" height="'+ height +'" id="' + id + '">';
                    html += '<param name="movie" value="'+rtsp+'"/>';
                    html += '<embed type="application/x-vlc-plugin" name="'+ id +'"';
                    html += 'autoplay="no" loop="no" width="'+ width +'" height="'+ height +'"';
                    html += 'target="'+rtsp+'" /> </object>';

                    return html;
            }
// 480x360 
// 320x240
            $(function(){
                var $list = $("#cameras-list");
                $.getJSON( "/cameras.json", function( data ) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i] && data[i].streams && data[i].streams.length > 0) {
                            $list.append("<div id=\"video-container-" + i +"\" class=\"video-box\">" + playerHTML("video" + i, data[i].streams[0].url, 480, 360) + "</div>");
                        }
                    }
                });
            });
        </script>
    </head>


    <body style = "margin: 10px">
        <h2 class = 'text-muted'> <a href ="/cameras">cameras</a> | multiview </h2> 
        <hr>
        <div id="cameras-list" class = "video-items">
            
        </div>
    </body>
</html>

