Package: solink.CameraManager
Version: 1.0
Section: base
Priority: optional
Architecture: i386
Depends: 
Maintainer: solink
X-LifeLine: Yes
X-LifeLine-Copyright: COPYRIGHT
Description: Manage and record video from ip cameras.
